@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

* {
  box-sizing: border-box;
  padding:0; 
  border:none; 
  margin:auto;
}

html {
  background-color: lightgrey;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  max-width: 1240px;
  height: auto; 
  box-shadow: 0px 0px 20px black;
  position: relative;
}

/* header */
header h1, h2, h3 {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  background: linear-gradient(rgba(243, 178, 149, 1), rgba(223, 76, 31, 1));
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
}

/* nav */
nav ul {
  background-color: #484444;
  list-style-type: none;
  overflow: hidden;
  padding-left: 15px;
}

nav li {
  float: left;
}

nav li a {
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  display: block;
}

nav li a:hover, li.active a {
  background-color: white;
  color: rgba(223, 76, 31, 1);
}

.hamburger {
  display: none;
}
  
/* main */
main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

section {
  width: 99%;
}

article {
  margin: 0px 2% 30px 2%;
  width: 96%;
}

main header {
  margin-top: 30px;
  margin-bottom: 20px;
}

header h2 {
  border-bottom:2px solid lightgray;
}

header p {
  color: grey;
  font-style: italic;
  text-align: right;
  margin-top: 5px;
}

main p {
  margin-top: 10px;
  margin-bottom: 10px;
}

main a {
  color: rgba(223, 76, 31, 1);
  text-decoration: none;
}

article h3 {
  border-bottom:1px solid lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

article ul li {
  margin-left: 45px;
}

aside {
  box-shadow: 0px 0px 25px grey;
  min-width: 340px;
  max-width: 340px;
  height: fit-content;
  margin: 20px;
}

aside h3 {
  background-color: rgba(223, 76, 31, 1);
  color: white;
  padding: 5px 10px 5px 10px;
}

aside ul {
  list-style-type: none;
  padding: 0px 10px 6px 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
}

td {
  border: 1px solid lightgray;
  padding: 5px 10px 5px 10px;
}

.temps, .date {
  text-align: center;
}

.mockup {
  text-align: center;
}

.mockup figure {
  padding: 20px;
}

.mockup img{
  width: 80%;
}

/* Footer */
footer {
  background-color: #484444;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer img {
  width: 20%;
}