* {
	box-sizing: border-box;
}

body {
	background-image: url('../images/Menus/dying-light.jpg');
	background-repeat: no-repeat;   /*Avoir que 1 fois l'image*/
    background-attachment: fixed;   /*Si l'image suit l'écran quand on scroll ou pas*/
    background-position: center;    /*centrer l'image à l'écran*/
    background-size: cover;         /*permet d'avoir toute l'image à chaque fois*/
	
	font-family:Arial, Helvetica, sans-serif;
	display: block;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.header h2 {
	border-bottom: 1px solid #f0f0f0;
	background-color: #0000009d;
	padding: 20px 40px;
    text-align: center;
	margin: 0;
    color: #d2de20;
    font-size: 2em;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
    font-size: 2em;
    color: #d2de20;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 15px;
	display: block;
	font-family: inherit;
	font-size: 120%;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.container {
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	background-color: #0000009d;
	display: inline-block;
    position: absolute;
    /*Centrer la div sur l'écran*/
    top: calc(50% - (316px/2));
    left:  calc(50% - (400px/2));
}

#inputButton{
	font-family:Arial, Helvetica, sans-serif;
    position: relative;
    height:50px;
	left: calc(50% - (200px/2));;
	border: 3px solid #0000005f;
    color: #d2de20;
    background-color: #0000009d;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    font-size:2em;
    display: inline-block;
}

#inputButton:hover{
	background-color: #3733a6;
    color: #d2de20;
}